$color-primary  : #5885af;
$color-secondary: #0c2d48;
$color-base     : #b1d4e0;

.form-group {
  position: relative;
  padding : 15px 0 0;
  margin  : auto;
  width   : 95%;

  .form-field {
    font-family  : inherit;
    width        : 100%;
    border       : 0;
    border-bottom: 2px solid $color-secondary;
    outline      : 0;
    font-size    : 1.3rem;
    color        : #333;
    padding      : 7px 0;
    background   : transparent;
    transition   : border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown~.form-label {
      font-size: 1.3rem;
      cursor   : text;
      top      : 20px;
    }

    &:required,
    &:invalid {
      box-shadow: none;
    }

  }

  .form-label {
    position  : absolute;
    top       : 0;
    display   : block;
    transition: 0.2s;
    font-size : 0.8rem;
    color     : $color-secondary;
  }

  &>button {
    position: absolute;
    right   : 0;
  }
}

button {
  padding      : 0.4rem .9rem;
  font-weight  : bold;
  border-radius: 0.5rem;

  &.primary {
    border          : 0.15rem solid $color-primary;
    background-color: $color-primary;
    color           : white;

    &:hover {
      background-color: rgba($color-secondary, 0.8);
      color           : $color-primary;
      transition      : 0.5s;
    }
  }
}